# global
# =========================

!.gitignore

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
# =========================

.Spotlight-V100
.Trashes

# Windows image file caches
# =========================

Thumbs.db
ehthumbs.db

# Folder config file
# =========================

Desktop.ini

# Recycle Bin used on file shares
# =========================

$RECYCLE.BIN/

# 编辑器
# =========================

.vscode
.idea
*.sw*
*.un~

# php
# =========================

/vendor
/composer.lock
/.php_cs.cache